{
  "log": {
    "loglevel": "warning"
  },
  "dns": {
    "servers": [
      "8.8.8.8",
      "1.1.1.1",
      "localhost"
    ]
  },
  "api": {
    "tag": "api",
    "services": [
      "StatsService"
    ]
  },
  "stats": {},
  "policy": {
    "levels": {
      "0": {
        "statsUserUplink": true,
        "statsUserDownlink": true
      }
    },
    "system": {
      "statsInboundUplink": true,
      "statsInboundDownlink": true,
      "statsOutboundUplink": true,
      "statsOutboundDownlink": true
    }
  },
  "inbounds": [
    {
      "tag": "api",
      "port": 10085,
      "listen": "127.0.0.1",
      "protocol": "dokodemo-door",
      "settings": {
        "address": "127.0.0.1"
      }
    },
    {
      "tag": "proxy-in",
      "port": 8080,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_UUID}",
            "email": "shared_legacy",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_1",
            "level": 0
          },
          {
            "id": "${VLESS_UUID}",
            "email": "user_USER_TOKEN_2",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_3",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_4",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws"
      }
    },
    {
      "tag": "in-kl",
      "port": 8081,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_UUID}",
            "email": "shared_legacy",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_5",
            "level": 0
          },
          {
            "id": "${VLESS_UUID}",
            "email": "user_USER_TOKEN_6",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_7",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_8",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/kl"
        }
      }
    },
    {
      "tag": "in-hk",
      "port": 8082,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_UUID}",
            "email": "shared_legacy",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_9",
            "level": 0
          },
          {
            "id": "${VLESS_UUID}",
            "email": "user_USER_TOKEN_10",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_11",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_12",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/hk"
        }
      }
    },
    {
      "tag": "in-sg",
      "port": 8083,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_UUID}",
            "email": "shared_legacy",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_13",
            "level": 0
          },
          {
            "id": "${VLESS_UUID}",
            "email": "user_USER_TOKEN_14",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_15",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_16",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/sg"
        }
      }
    },
    {
      "tag": "in-tw",
      "port": 8084,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_UUID}",
            "email": "shared_legacy",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_17",
            "level": 0
          },
          {
            "id": "${VLESS_UUID}",
            "email": "user_USER_TOKEN_18",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_19",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_20",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/tw"
        }
      }
    },
    {
      "tag": "in-jp",
      "port": 8085,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "${USER_UUID}",
            "email": "shared_legacy",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_21",
            "level": 0
          },
          {
            "id": "${VLESS_UUID}",
            "email": "user_USER_TOKEN_22",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_23",
            "level": 0
          },
          {
            "id": "${USER_UUID}",
            "email": "user_USER_TOKEN_24",
            "level": 0
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/jp"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {
        "domainStrategy": "UseIP"
      }
    }
  ],
  "routing": {
    "rules": [
      {
        "inboundTag": [
          "api"
        ],
        "outboundTag": "api",
        "type": "field"
      }
    ]
  }
}