ingress:
  - hostname: ${TUNNEL_HOST}
    path: /kl
    service: http://127.0.0.1:8081
    originRequest:
      http2Origin: true
  - hostname: ${TUNNEL_HOST}
    path: /hk
    service: http://127.0.0.1:8082
    originRequest:
      http2Origin: true
  - hostname: ${TUNNEL_HOST}
    path: /sg
    service: http://127.0.0.1:8083
    originRequest:
      http2Origin: true
  - hostname: ${TUNNEL_HOST}
    path: /tw
    service: http://127.0.0.1:8084
    originRequest:
      http2Origin: true
  - hostname: ${TUNNEL_HOST}
    path: /jp
    service: http://127.0.0.1:8085
    originRequest:
      http2Origin: true
  - hostname: ${TUNNEL_HOST}
    service: http://127.0.0.1:8080
  - service: http_status:404
